section#headline(role="main")
  h2 
   span A simple agnostic
   span Webpack + ThreeJS + Pug+ Sass + Gsap
   span boilerplate
  div.buttons 
    a(href="#").filled Documentation
    a(href="#") Github