html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
    title Selix - ThreeJS Boilerplate
  body
    div#canvas
    div#root
      h1 SELIX
      h2 A simple agnostic Webpack + ThreeJS + Pug+ Sass boilerplate.
