@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "content/nav";
@import "content/headline";
@import "content/footer";
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

html,
body, #stage {
  width: 100%;
  height: 100%;
}

* {
  user-select: none;
  pointer-events: none;
}

#loading {
  color: #ffffff;
  background-color: #000000;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;

  .progressBar {
    background-color: #ffffff;
    width:1%;
    height: 10px;
  }
}

#stage {
  canvas {
    pointer-events: all;
    display: block;
  }

  #root {
    overflow: hidden;
    color: #ffffff;
  }

  #canvas {
    position: fixed;
    z-index: -1;
  }
}